<%= flash.now[:alert] %>

<%= form_with model: @task, local: true do |form| %>
    <%= render 'layouts/error_messages' %>
    <p><%= form.label :title %><br>
    <%= form.text_field :title %> 
    </p>

    <p><%= form.label :body %><br>
    <%= form.text_area :body %> 
    </p>

    <%= form.submit %> 
<% end %>