<%= flash.now[:alert] %>

<%= form_with model: @task, local: true do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>
  <p><%= form.label :title %><br>
    <%= form.text_field :title %> 
  </p>

  <p><%= form.label :body %><br>
    <%= form.text_area :body %> 
  </p>

  <%= form.label :category_ids, 'カテゴリー' %><br>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :title do |cb| %>
      <%= cb.check_box %>
      <%= cb.label %>
    <% end %>

  <%= form.submit %> 
<% end %>