<%= link_to 'カテゴリー一覧', categories_path %>
<%= link_to '新規投稿', new_task_path %>
<%= flash[:notice]%>
<ul>
  <%= sort_link(@q, :deadline_on, "終了期限" )%>
  <%= sort_link(@q, :priority, "優先順位" )%>
  <% @tasks.each do |task| %>
    <li><%= link_to(task.title, task_path(task)) %></li>
  <% end %>    
</ul>    
<p>タスク検索</p>
<%= search_form_for @q do |f| %>
  <%= f.label :title_cont, 'タイトル' %>
  <%= f.search_field :title_cont %><br>

  <%= f.label :body_cont, '説明文' %>
  <%= f.search_field :body_cont %><br>
  
  <%= f.label :categories_title_cont, 'カテゴリー' %>
  <%= f.collection_select :categories_title_cont, Category.all, :title, :title, include_blank: true %>

  <%= f.submit '検索' %>
<% end %>
