<%= flash.now[:alert] %>

<%= form_with model: @category, local: true do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>
  <p><%= form.label :title %><br>
    <%= form.text_field :title %> 
  </p>

  <%= form.submit %> 
<% end %>